body {
  margin: 0;
  background: #ffffff;
  font-family: 'Jost', sans-serif;


}


.home{
  display: grid;
  grid-template-rows: auto 1fr 48px;
  min-height: 99vh;

}

.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 24px;
  gap: 24px;
  justify-content: center;
  padding: 0 24px;
  font-size: 60px;
  

}


nav.no-mobile{
  display: grid;
  grid-template-columns: auto auto auto;
  gap:28px;
}

nav a{
 text-decoration: none;
 color:black; 
}

a:link {
  color: #000;
  border-bottom: none;
}


.header-logo {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 80px;
  font-weight: 100;
  top: 0;
  left: 0;


}


.title a{
  text-decoration: black;
  color:currentColor;
}

.footer,
.mobile {
  display: none;
}

.header-flex {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Jost', sans-serif;
  font-size: 30px;
}



.row {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  display: grid;
  border-top: 1.5px solid black;
  /* justify-items: center; */
  height: 110px;
  margin-bottom: -2px;
  padding-left: 12px;
  /* z-index: 1; */
}

.titread {
  display: grid;
  justify-items: center;
  align-self: center;
}

.titread p {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.centered-image {
  display: block;
  margin: 0 auto;
}




.center-text {
  text-align: center;
}

.center-text p {
  font-size: 24px;
  font-weight: 100;
  color: #333;
  text-align: center;
  font-family: 'Jost', sans-serif;

}

.bottom-text{
  text-align: center;
  .horizontal-line {
    border: 1px solid black; /* Épaisseur, style, et couleur de la ligne */
    margin-top: -60px; /* Ajustez la valeur en fonction de l'espace souhaité */
    width: 30%;
  }
  
}

.projets {
  font-size: 25px;

}

.center-text {
  text-align: center;
  margin: auto;
  max-width: 600px; /* Facultatif : limitez la largeur du texte pour une meilleure lisibilité */
}

.underline {
  text-decoration: underline;
}

